
@mixin flex ($align: center, $flex-dir: column) {// миксин
  flex-direction: $flex-dir;
  display: flex;
  align-items: $align;
  justify-content: $align;
}

$pet-card-bgc: rgb(189, 188, 187);
$btn-col: #f1CDB3;