
@import 'abstracts/variables';
@import 'vendors/bootstrap';
@import 'base/reset';
@import 'layout/header';
@import 'components/buttons';
@import 'components/pet-card';
@import 'pages/home';
@import 'themes/theme';


body{
  @include flex ();
}
.pet__card {
  @include flex ();
  background-color: $pet-card-bgc;
  width: 300px;
  height: 435px;
  .pet-name {
    font-size: 30px;
  }
  .btn {
    width: 187px;
    height: 52px;
    @include flex ();
    padding: 15px 45px;
    border: 2px solid $btn-col;
    border-radius: 100px;
  }
}